.sbx-panel {
    background-color: white;
    height: 100px;
    width: 300px;
}

.sbx-search {
    z-index: 1;
    position: absolute;
    transform: translate(225px);
    border: none;
    background-color: #0077ff;
    transition: background-color 0.5s;
}

.sbx-search:disabled {
    opacity: 0.5;
}

.sbx-input {
    position: absolute;
    width: 180px;
    transform: translate(40px, 14px);
    box-sizing: border-box;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    background-color: inherit;
}

.sbx-status {
    position: absolute;
    transform: translate(320px, 14px);
}

.sbx-progress {
    position: absolute;
    transform: translate(0px, 43px);
    width: 226px;
}

.sbx-bar {
    position: relative;
    height: 7px;
    width: 0%;
    background-color: #0077ff;
    transition: width 0.5s, background-color 0.5s; /* Removed redundant prefixes */
}

.sbx-user {
    position: relative;
    height: 20px;
    width: 20px;
}

.dark {
    background-color: #393b3d !important;
}

.invalid {
    border-color: red !important;
}

.highlighted {
    border: solid #00b06f !important;
}

.sbx-input::placeholder {
    /* Modern placeholder styling */
    color: grey;
    font-weight: 400 !important;
}

.dark::placeholder {
    /* Modern placeholder styling for dark mode */
    color: #757575 !important;
}
